@use 'navbar';
@use 'header';

$colors: ('orange', 'green', 'red', 'blue');
$fontWeights: ('normal': 400, 'bold': 500, 'extraBold': 600);

@debug map-get($fontWeights, 'bold');

@each $key, $value in $fontWeights {
  @debug "Your key is #{$key}";
  @debug "Your value is #{$value}";
}

@each $key, $value in $fontWeights {
  .font-#{key} {
    font-weight: $value;
  }
  @debug "Your key is #{$key}";
  @debug "Your value is #{$value}";
}

@each $color in $colors {
  @debug $color;
  .color-#{$color} {
    background: #{$color};
  }
}

$startLoop: 1;
$endLoop: 20;

@for $i from $startLoop through $endLoop {
  @debug $i;
  .fontSize-#{$i} {
    font-size: #{$i}px;
  }
}

.nav {
  width: 100%;
  height: 80px;
  background: orange;
  line-height: 80px;

    .nav__ul {
      list-style: none;
      .nav__ul__li {
        display: inline-block;
            .nav__ul__li__a {
            text-decoration: none;
            color: white;
            }
        }
    }
}