nav {
  background: orange;
  color: white;
}

/* can also define a variable name i.e. as myColor & call with myColor.$indigo */
header {
  background: indigo;
  color: white;
}

.box1 {
  background: green;
}

.box2 {
  background: green;
}

.box3 {
  background: green;
}
