nav {
  background-color: indigo;
  color: white;
}

header {
  background: orange;
  color: white;
}

.nav {
  width: 100%;
  height: 80px;
  background: orange;
  line-height: 80px;
}
.nav .nav__ul {
  list-style: none;
}
.nav .nav__ul .nav__ul__li {
  display: inline-block;
}
.nav .nav__ul .nav__ul__li .nav__ul__li__a {
  text-decoration: none;
  color: white;
}
